<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Inventory Management</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link href='https://unpkg.com/boxicons@2.1.4/dist/boxicons.js' rel='stylesheet'>
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
	<div >
		<section class="container pt-2 mt-2 mt-md-4 ">

			<p class="fw-bold fs-4 mb-5">Inventory Entries</p>


			<form class="text-center row g-3 border mb-4">


				<div class="col-3">
					<label class="col-form-label">Task</label>
				</div>
				<div class="col-6">
					<input type="text" id="taskId" class="form-control">
				</div>
				<div class="row-2 ">
					<button type="submit" class="btn btn-primary mb-3">Search</button>
					<button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#createModal">Create</button>
				</div>
			</form>
			
			<!-- CreateModal -->
			<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel">Inventory Entry</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
							
						<!-- createForm -->
						<div class="modal-body">
							<div class="mb-3">
								<label for="exampleFormControlInput1" class="form-label">Project
								</label> <input name="Project" type="text" class="form-control"  id="Project">
							</div>
							<div class="mb-3">
								<label for="exampleFormControlInput1" class="form-label">Task
								</label> <input name="Task" type="text" class="form-control" id="Task">
							</div>
							<div class="mb-3">
								<label for="exampleFormControlInput1" class="form-label">Assign To</label> 
								<select class="form-select" aria-label="Default select example">
									<option selected>Select one</option>
									
									<!--change using table user-->
									<option th:each="user : ${User}" th:text="${user.userName}"></option>
								
								</select>
							</div>
							<div class="row">
								<div class="col-md-6 mb-3">
									<label for="From" class="form-label">Date From</label>
									<input name="From" type="date" class="form-control" id="From">
								</div>
								<div class="col-md-6 mb-3">
									<label for="To" class="form-label">Date To</label>
									<input name="To" type="date" class="form-control" id="To">
								</div>
							</div>
							<div class="mb-3">
								<label for="exampleFormControlInput1" class="form-label">Status
								</label> 
								<select class="form-select" aria-label="Default select example">
									<option selected>Select one</option>
									<option th:each="status : ${Status}" th:text="${status.statusDesc}"></option>
								</select>
							</div>
						</div>
						
						<!-- CreateFooter -->
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">+Add</button>
						</div>
					</div>
				</div>
			</div>
			
			<div >
				<table class="table mt-2 align-middle border-top border-left border-right ">
				<thead>
					<tr>
						<th style="width:9%">Project</th>
						<th>Task</th>
						<th style="width: 20%">Assign to</th>
						<th style="width:10%">From</th>
						<th style="width:10%">To</th>
						<th style="width:10%">Status</th>
						<th style="width:10%"></th>
					</tr>
				</thead>
				<tbody>
					<tr  th:each="Inv : ${InvList}">
						<td th:text="${Inv.project}"></td>
						<td th:text="${Inv.task}"></td>
						<td th:text="${Inv.userID == 1 ? 'Amir' : (Inv.userID == 2 ? 'Farhan' : (Inv.userID == 3 ? 'Kamil' : (Inv.userID == 4 ? 'Shuhada' : (Inv.userID == 5 ? 'Ain' : 'Unknown'))))}"></td>
						<td th:text="${Inv.dateFrom}"></td>
						<td th:text="${Inv.dateTo}"></td>
						<td th:text="${Inv.statusID == 0 ? 'Open' : (Inv.statusID == 1 ? 'In Progress' : 'Closed')}"></td>
						<td>
							<div class="d-flex justify-content-between">
											<a class="btn btn-lg btn-block btn-sm bx bxs-edit-alt" data-bs-toggle="modal">
											</a>
											<a class="btn btn-lg btn-block btn-sm bx bxs-trash"></a>
							</div>
						</td>
					</tr>

				</tbody>
			</table>
			</div>
			
			
			<!-- EditModal -->
			<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel">Edit Inventory Details</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
							
						<!-- EditForm -->
						<div class="modal-body">
							<div class="mb-3" >
								<label for="exampleFormControlInput1" class="form-label">Project
								</label> <input name="Project" type="text" class="form-control"  id="Project">
							</div>
							<div class="mb-3">
								<label for="exampleFormControlInput1" class="form-label">Task
								</label> <input name="Task" type="text" class="form-control" id="Task">
							</div>
							<div class="mb-3">
								<label for="exampleFormControlInput1" class="form-label">Assign To</label> 
								<select class="form-select" aria-label="Default select example">
									<option selected>Select one</option>
									<option th:each="user : ${User}" th:text="${user.userName}"></option>
								</select>
							</div>
							<div class="row">
								<div class="col-md-6 mb-3">
									<label for="From" class="form-label">Date From</label>
									<input name="From" type="date" class="form-control" id="From">
								</div>
								<div class="col-md-6 mb-3">
									<label for="To" class="form-label">Date To</label>
									<input name="To" type="date" class="form-control" id="To">
								</div>
							</div>
							<div class="mb-3">
								<label for="exampleFormControlInput1" class="form-label">Status
								</label> 
								<select class="form-select" aria-label="Default select example">
									<option selected>Select one</option>
									<option th:each="status : ${Status}" th:text="${status.statusDesc}"></option>
								</select>
							</div>
						</div>
							
						<!-- EditFooter -->
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save</button>
						</div>
					</div>
				</div>
			</div>

		</section>
	</div>
	<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
		integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
		crossorigin="anonymous"></script>
</body>

</html>